<p>Componente 3: Opciones de compra.</p>
<div class="row">
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="https://fastly.picsum.photos/id/9/5000/3269.jpg?hmac=cZKbaLeduq7rNB8X-bigYO8bvPIWtT-mh8GRXtU3vPc" alt="ima.jpg">
        <div class="caption">
          <h3>titulo 1</h3>
          <p>Primera opcion</p>
          <p><a href="#" class="btn btn-primary" role="button">Postularse</a> <a href="#" class="btn btn-default" role="button">Informacion</a></p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="https://fastly.picsum.photos/id/10/2500/1667.jpg?hmac=J04WWC_ebchx3WwzbM-Z4_KC_LeLBWr5LZMaAkWkF68" alt="ima.jpg">
          <div class="caption">
            <h3>titulo 2</h3>
            <p>2da opcion</p>
            <p><a href="#" class="btn btn-primary" role="button">Postularse</a> <a href="#" class="btn btn-default" role="button">Informacion</a></p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="https://fastly.picsum.photos/id/20/3670/2462.jpg?hmac=CmQ0ln-k5ZqkdtLvVO23LjVAEabZQx2wOaT4pyeG10I" alt="ima.jpg">
          <div class="caption">
            <h3>titulo 3</h3>
            <p>3ra opcion</p>
            <p><a href="#" class="btn btn-primary" role="button">Postularse</a> <a href="#" class="btn btn-default" role="button">Informacion</a></p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="https://fastly.picsum.photos/id/18/2500/1667.jpg?hmac=JR0Z_jRs9rssQHZJ4b7xKF82kOj8-4Ackq75D_9Wmz8" alt="ima.jpg">
          <div class="caption">
            <h3>titulo 4</h3>
            <p>4ta opcion</p>
            <p><a href="#" class="btn btn-primary" role="button">Postularse</a> <a href="#" class="btn btn-default" role="button">Informacion</a></p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="https://fastly.picsum.photos/id/23/3887/4899.jpg?hmac=2fo1Y0AgEkeL2juaEBqKPbnEKm_5Mp0M2nuaVERE6eE" alt="ima.jpg">
          <div class="caption">
            <h3>titulo 5</h3>
            <p>5ta opcion</p>
            <p><a href="#" class="btn btn-primary" role="button">Postularse</a> <a href="#" class="btn btn-default" role="button">Informacion</a></p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <img src="https://fastly.picsum.photos/id/24/4855/1803.jpg?hmac=ICVhP1pUXDLXaTkgwDJinSUS59UWalMxf4SOIWb9Ui4" alt="ima.jpg">
          <div class="caption">
            <h3>titulo 6</h3>
            <p>6ta opcion</p>
            <p><a href="#" class="btn btn-primary" role="button">Postularse</a> <a href="#" class="btn btn-default" role="button">Informacion</a></p>
          </div>
        </div>
      </div>
  </div>