.container {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilos para las filas */
.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Estilos para las columnas */
.col-xs-6 {
    flex: 0 0 50%;
}

.col-md-3 {
    flex: 0 0 25%;
}

/* Estilos para el enlace de miniaturas */
.thumbnail {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}

/* Estilos para las imágenes dentro del enlace de miniaturas */
.thumbnail img {
    width: 100%;
    max-width: 150px; /* Ancho máximo para cada imagen */
    height: auto;
    margin: 10px 0;
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

/* Efecto al pasar el cursor sobre la imagen */
.thumbnail img:hover {
    transform: scale(1.05);
}

/* Media queries para adaptabilidad */
@media (max-width: 768px) {
    .col-xs-6 {
        flex: 0 0 100%;
    }
}

@media (max-width: 992px) {
    .col-md-3 {
        flex: 0 0 50%;
    }
}